@use '@/styles/mixins.scss' as mixins;

.card {
  @include mixins.flex-column;

  width: var(--card-width);
  height: var(--card-height);
  justify-content: flex-start;
  padding: 10px;
  border-radius: var(--card-border-radius);
  background-color: var(--skeleton-bg-color);
}

.image {
  width: 80%;
  height: 120px;
  border-radius: var(--border-radius);
  margin-bottom: 10px;
}

.text {
  width: 60%;
  height: 16px;
  border-radius: var(--border-radius);
  margin-bottom: 5px;
}

.ability {
  width: 70px;
  height: 25px;
  border-radius: var(--border-radius);
  margin-top: 6px;
}
