@use '@/styles/mixins.scss' as mixins;

.container {
  @include mixins.flex-column;

  min-height: 100vh;

  background: linear-gradient(
    45deg,
    #bbe2fa,
    #edf3ff,
    #e0f6ff,
    #f7ffff,
    #ebffff,
    #d7e1fc,
    #d9fcf5
  );
}

.content {
  @include mixins.flex-column;

  width: 100%;
  flex: 1;
}
