@use '@/styles/mixins.scss' as mixins;

.container {
  @include mixins.flex-column;

  min-height: 100vh;

  background: var(--main-bg);
}

.content {
  @include mixins.flex-column;

  width: 100%;
  flex: 1;
}

.content-flex-start {
  justify-content: flex-start;
}
