@use '@/styles/mixins.scss' as mixins;

.loading {
  @include mixins.flex-column;

  gap: 20px;
  text-align: center;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 4px solid #a498aa8b;
  border-radius: 50%;
  border-top: 4px solid var(--white);
  animation: var(--spin-animation) 1s linear infinite;
}
