@use '@/styles/mixins.scss' as mixins;

.card {
  @include mixins.flex-column;

  width: 500px;
  max-width: 90vw;
  padding: 40px;
  border-radius: var(--card-border-radius);
  animation: var(--fade-in-animation) 1.2s;
  background-color: var(--about-card-color);
  box-shadow: var(--card-box-shadow);

  button {
    margin-bottom: 20px;
  }
}

.text {
  font-size: 1.4em;
  line-height: 40px;
  text-align: center;
}

.link {
  border-bottom: 2px dashed var(--primary-color);
  color: var(--primary-color);
  font-weight: 700;
  text-decoration: none;
  transition:
    color 0.3s,
    border-bottom 0.3s;

  &:active {
    border-bottom: 2px solid var(--link-active);
    color: var(--link-active);
  }

  @media (hover: hover) {
    &:hover {
      border-bottom: 2px solid var(--link-hover);
      color: var(--link-hover);
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
