.button {
  width: 120px;
  padding: var(--padding-base);
  border-radius: var(--border-radius);
  background-color: var(--primary-color);
  box-shadow: var(--btn-box-shadow);
  color: var(--white);
  transition: all 0.3s;

  &:active {
    background-color: var(--active-color);
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: var(--hover-color);
      cursor: pointer;
    }
  }
}
