@use '@/styles/mixins.scss' as mixins;

.search-box {
  @include mixins.flex-center;

  width: 90%;
  max-width: 550px;
  padding: var(--padding-base);

  gap: 10px;

  input {
    width: 100%;
    height: 30px;
    padding: 5px;
    border-radius: var(--border-radius);
    background-color: var(--input-bg-color);
    outline: none;

    &:focus {
      border: 1px solid var(--primary-color);
    }
  }
}
