@use '@/styles/mixins.scss' as mixins;

.card {
  @include mixins.flex-column;

  overflow: hidden;

  width: var(--card-width);
  height: var(--card-height);

  justify-content: flex-start;
  padding: 15px;
  border-radius: var(--card-border-radius);
  background-color: var(--card-color);
  box-shadow: var(--card-box-shadow);
  cursor: pointer;

  &:hover {
    .img-box {
      transform: scale(1.15);
    }
  }

  @include mixins.media-m {
    max-width: 90%;
  }
}

.content {
  @include mixins.flex-column;

  height: 100%;

  justify-content: space-between;
}

.content-box {
  @include mixins.flex-column;

  gap: 15px;
}

.img-box {
  @include mixins.flex-center;

  width: 120px;
  height: 120px;
  transition: transform 0.4s ease-in-out;

  img {
    width: 100%;
  }
}

.name {
  text-align: center;
  text-transform: capitalize;
}
