* {
  box-sizing: border-box;
  color: var(--text-color);
  font-family: Mulish, sans-serif;
}

button {
  border: none;
}

input {
  border: none;
}

a {
  text-decoration-line: none;
}

.link {
  width: 120px;
  padding: var(--padding-base);
  border-radius: var(--border-radius);
  background-color: var(--primary-color);
  box-shadow: var(--btn-box-shadow);
  color: var(--white);
  text-align: center;
  transition: all 0.3s;

  &:active {
    background-color: var(--active-color);
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--hover-color);
      cursor: pointer;
    }
  }
}
