:root {
  // colors
  --white: #fff;
  --card-box-shadow: 0 4px 20px #0000001a;
  --btn-box-shadow: inset 0 3px 5px #ffffff4d;

  // sizes
  --padding-base: 10px;
  --border-radius: 8px;
  --card-border-radius: 16px;
  --card-width: 200px;
  --card-height: 380px;
  --skeleton-bg-size: 400% 400%;
  --header-icon-width: 40px;
  --header-icon-height: 40px;

  // animation
  --fade-in-animation: fade-in;
  --spin-animation: spin;
  --skeleton-animation: skeleton-animation 2.25s ease infinite;
}

:root[data-theme='light'] {
  // colors
  --main-bg: linear-gradient(
    45deg,
    #bbe2fa,
    #edf3ff,
    #e0f6ff,
    #f7ffff,
    #ebffff,
    #d7e1fc,
    #d9fcf5
  );
  --text-color: #000;
  --primary-color: #18d284;
  --hover-color: #1be993;
  --active-color: #15b170;
  --link-hover: #ffe44c;
  --card-color: #fff;
  --title-card-color: #363636;
  --skeleton-bg-color: #f4f4f480;
  --pulsate-bg-color: linear-gradient(-45deg, #ddd, #f0f0f0, #ddd, #f0f0f0);
  --input-bg-color: #fff;
  --about-card-color: #fff;
  --error-element-bg: #fff;
  --page-color: #e6ffe681;
  --page-border: 1px solid var(--primary-color);
  --checkbox-bg-color: var(--primary-color);
  --checkbox-border-color: var(--primary-color);
  --flyout-bg-color: #ffffffa3;
}

:root[data-theme='dark'] {
  // colors
  --main-bg:
    radial-gradient(at 9% 100%, #36091d 0px, transparent 50%),
    radial-gradient(at 68% 86%, #222421 0px, transparent 50%),
    radial-gradient(at 51% 48%, #184720 0px, transparent 50%),
    radial-gradient(at 0% 7%, #110740 0px, transparent 50%),
    radial-gradient(at 100% 35%, #52021b 0px, transparent 50%) #000;
  --text-color: var(--white);
  --primary-color: #ff682c;
  --hover-color: #d63612;
  --active-color: #bb3912;
  --link-hover: #ff9d24;
  --card-color: #8f8f8f4a;
  --title-card-color: #ffffffa2;
  --skeleton-bg-color: #8a8a8a17;
  --pulsate-bg-color: linear-gradient(
    -45deg,
    #2a2a2a,
    #4d4d4d,
    #5a5a5a,
    #757575
  );
  --input-bg-color: #ffffff2e;
  --about-card-color: #acacac63;
  --error-element-bg: #444;
  --page-color: #8f8f8f4a;
  --page-border: none;
  --checkbox-bg-color: #18d284;
  --checkbox-border-color: #18d284;
  --flyout-bg-color: #545454b8;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes skeleton-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
