:root {
  --white: #fff;
  --main-bg: linear-gradient(
    45deg,
    #bbe2fa,
    #edf3ff,
    #e0f6ff,
    #f7ffff,
    #ebffff,
    #d7e1fc,
    #d9fcf5
  );
  --primary-color: #18d284;
  --hover-color: #1be993;
  --active-color: #15b170;
  --card-color: #abfedc;
  --link-hover: #ffe44c;
  --link-active: #e3cc45;
  --btn-box-shadow: inset 0 3px 5px #ffffff4d;
  --card-box-shadow: 0 4px 20px #0000001a;
  --padding-base: 10px;
  --border-radius: 8px;
  --card-border-radius: 16px;
  --card-width: 200px;
  --card-height: 357px;
  --fade-in-animation: fade-in;
  --spin-animation: spin;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
