:root {
  --white: #fff;
  --primary-color: #18d284;
  --hover-color: #1be993;
  --active-color: #15b170;
  --card-color: #abfedc;
  --btn-box-shadow: inset 0 3px 5px #ffffff4d;
  --padding-base: 10px;
  --border-radius: 8px;
}
