@use '@/styles/mixins.scss' as mixins;

.switcher {
  @include mixins.flex-center;

  width: var(--header-icon-width);
  height: var(--header-icon-height);
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: translate3d(0, 2px, 0);
  }
}
